@mixin atSmall {
    @media (min-width: 530px) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width: 800px){
        @content;
    }
}

@mixin atLarge {
    @media (min-width: 1010px){
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

/* REMEMBER THAT SMALL IS ABOVE 530PX SO THE DEFAULT BASELINE IS SMALLER AND NOT NEED TO BE DEFINED */