/* RGB */
$color1: rgba(238, 239, 239, 1);
$color2: rgba(222, 237, 240, 1);
$color3: rgba(163, 167, 171, 1);
$color4: rgba(35, 44, 51, 1);
$color5: rgba(153, 132, 125, 1);
$color6: rgba(0, 159, 183, 1);
$color7: rgba(29, 45, 68, 1);
$color8: rgba(171, 169, 191, 0.9);