/* single action tools */
@import url(normalize.css);
/* global rule of the page body and html */
/* RGB */
/* REMEMBER THAT SMALL IS ABOVE 530PX SO THE DEFAULT BASELINE IS SMALLER AND NOT NEED TO BE DEFINED */
body {
  font-family: 'Lato', sans-serif;
  color: #232c33;
  background: #eeefef;
  display: flex;
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

a {
  color: #99847d; }

/* block modules */
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  .flex-container--row {
    flex-direction: row;
    flex-wrap: wrap; }

.social {
  display: flex;
  width: 100%;
  justify-content: center; }
  .social__nav {
    font-size: 30px;
    padding: 0; }
    .social__nav a {
      margin: 10px;
      color: #99847d;
      padding: 10px; }
      .social__nav a:hover {
        color: #a3a7ab;
        z-index: 2; }
  @media (min-width: 800px) {
    .social {
      justify-content: flex-end;
      margin: 0; }
      .social__nav {
        font-size: 1em; } }
  .social--dark {
    background: #deedf0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    height: 6em;
    transition: all 1s ease-in-out; }
    .social--dark::before {
      height: 0em; }

.section-about {
  margin-top: 30px;
  padding-left: 1em; }
  .section-about__name {
    display: block;
    padding: 0;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: #1d2d44; }
    @media (min-width: 800px) {
      .section-about__name {
        text-align: left; } }
  .section-about__desc {
    font-size: 1.1em;
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 1em 0;
    color: #232c33; }
    @media (min-width: 800px) {
      .section-about__desc {
        text-align: left; } }
  .section-about__desc-2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    color: #a3a7ab; }
    @media (min-width: 800px) {
      .section-about__desc-2 {
        text-align: left; } }

.divisor {
  display: flex;
  width: 100%;
  font-size: 2em;
  color: #a3a7ab;
  justify-content: space-around;
  position: relative;
  align-items: center;
  margin-top: 30px; }

.line {
  width: 45%;
  height: 1px;
  background: #a3a7ab; }

.section-galery {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  justify-content: space-between; }
  @media (min-width: 530px) {
    .section-galery {
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -20px;
      overflow: hidden; } }

.galery-item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0; }
  @media (min-width: 530px) {
    .galery-item {
      margin: 0 20px 40px 0; } }
  .galery-item__wrapper {
    position: relative; }
  .galery-item__go-to {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px; }
  .galery-item__text {
    color: white;
    font-weight: 300;
    flex: 1 0 80%;
    order: 1;
    margin: 0; }
  .galery-item__icon {
    font-size: 2em;
    color: white;
    order: 2;
    flex: 1 0 20%;
    transform: translateY(25%); }
  .galery-item__desc {
    font-size: .8em;
    order: 3;
    text-align: left;
    flex: 1 0 100%;
    margin: 0 0 10px 0; }
  .galery-item__img {
    max-width: 300px;
    min-height: 300px; }
