.galery-item {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
  margin-bottom: 20px;
  @include atSmall{

  }
&__wrapper{
  position: relative;
}

  &__go-to {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }
  &__text {
    color: white;
    font-weight: 300;
    flex: 1 0 80%;
    order: 1;
    margin: 0;
  }
  &__icon {
    font-size: 2em;
    color: white;
    order: 2;
    flex: 1 0 20%;
    transform: translateY(25%);
  }
  &__desc {
    font-size: .8em;
    order: 3;
    text-align: left;
    flex: 1 0 100%;
    margin: 0 0 10px 0;
    
  }
  &__img {
    max-width: 300px;
    min-height: 300px;
  }
}
