.section-about {
  margin-top: 30px;
  &__name {
    display: block;
    padding: 0;
    text-align: center;
    font-weight: 400;
    margin: 0;
    @mixin atMedium {
      text-align: left;
    }
  }
  &__desc {
    font-size: 1.1em;
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 1em 0;
    @mixin atMedium {
      text-align: left;
    }
  }
  &__desc-2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    @mixin atMedium {
      text-align: left;
    }
  }
}
