.social {
  display: flex;
  width: 100%;
  justify-content: center;
  &__nav{
    font-size: 30px;
    padding: 0 ;

    & a {
      margin: 10px;
      color: $color5;
      padding: 10px;
      
      &:hover{
        color: $color3;
        z-index: 2;
      }
    }

  }
  @include atMedium{
      justify-content: flex-end;
      margin: 0;
      &__nav{
        font-size: 1em;
      }

  }
  
  &--dark {
    background: $color2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    height: 6em;
    transition: all 1s ease-in-out;
    &::before{
      height: 0em;
      
    }
  }
}
