.social {
  display: flex;
  width: 100%;
  justify-content: center;
  &__nav{
    font-size: 30px;
    padding: 0 ;

    & a {
      margin: 10px;
      color: $color5;
      padding: 10px;
      &:hover{
        color: $color3;
      }
    }

  }
  @include atMedium{
      justify-content: flex-end;
      margin: 0;
      &__nav{
        font-size: 1em;
      }

  }

}
